.div1 {
    position: relative;
}

.selected {
    color: red;
    cursor: pointer;
}

.list {
    cursor: pointer;
}

div.calculator {
    width: 500px;
    height: 624px;
    background-color: green;
}
div.display {
    width: 400px;
    height: 150px;
    background-color: greenyellow;
    margin: 30px;
    float: left;
}
div.process {
    width: 100%;
    height: 30%;
    color: gray;
    font-size: 20px;
}
div.process span {
    float: right;
    margin: 13px 20px;
}
div.insert {
    width: 100%;
    height: 70%;
    font-size: 45px;
}
div.insert span{
    float: right;
    margin: 31px 20px;
}
div.buttons {
    height: 400px;
    float: left;
}
/* div.first {
    width: 450px;
    height: 80px;
    float: left;
} */
div.leftButtons {
    width: 330px;
    float: left;
}
div.rightButtons {
    width: 120px;
    float: left;
}
div.button {
    width: 90px;
    height: 60px;
    background-color: #88db88;
    text-align: center;
    float: left;
    margin: 10px;
}
div.button span {
    line-height: 1;
    font-size: 50px;
}
div.bottomButton {
    float: left;
    width: 420px;
    height: 50px;
    background-color: #88db88;
    margin: 10px;
}
