progress[value]::-webkit-progress-bar {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#progress[value] {
    appearance: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

#progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to bottom, #2ecc71, #3498db);
}

/*
<meter>
::-webkit-meter-inner-element
::-webkit-meter-even-less-good-value
::-webkit-meter-optimum-value
::-webkit-meter-suboptimum-value
*/

#details[open] {
    background-color: #cdedfd;
    background-image: linear-gradient(
        319deg,
        #cdedfd 0%,
        #ffec82 37%,
        #ffcfd2 100%
    )
}